.header {
  .header-container {
    padding: 20px 50px;
  }
  .site-brand {
    width: 140px;
  }
  .search-input {
  }
  .header-actions {
    .item {
      color: #3a3845;
      font-size: 20px;
      padding-top: 10px;
    }
  }
}
